*.bin
*.data
*.pt
*.log
*.h5
*.vec
*.db
*dataobject*
*.npy
*rgcn_model
*.rgcnmodel
*.torchobj
*.model
*.WT2
pretrained*
*.sql
*.txt
WikiText-103/
runs/
GraphNN/pyGAT
InputData/*.npy
.idea/
__pycache__/


