*.bin
*.data
*.pt
*.log
*.h5
*.vec
*.db
*dataobject*
*.npy
*rgcn_model
*.rgcnmodel
*.torchobj
*.model
*.WT2
WikiText-103/
runs/
GraphNN/pyGAT
InputData/
TextCorpuses/
Saved_Results
Media/IntermediateResults
InputData/*.npy
